<div class="header header-temp">
    <div class="container">
        <div class="header-nav">
            <nav class="navbar navbar-temp navbar-default navbar-default-temp">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-toggle-temp collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-temp"></span>
                        <span class="icon-bar icon-bar-temp"></span>
                        <span class="icon-bar icon-bar-temp"></span>
                    </button>
                    <h1><a class="navbar-brand navbar-brand-temp" href="index.html"><i style="padding-top:10px" class="glyphicon glyphicon-road" aria-hidden="true"></i><span>Logi</span>Port</a></h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-collapse-temp nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-nav-temp">
                        <li><a class="hvr-overline-from-center hvr-overline-from-center-temp button2" href="home">Home</a></li>
                        <li><a class="hvr-overline-from-center hvr-overline-from-center-temp button2 active active-temp" href="about">About</a></li>
                        <!-- <li><a class="hvr-overline-from-center hvr-overline-from-center-temp button2" href="services.html">Services</a></li> -->
                        <li><a class="hvr-overline-from-center hvr-overline-from-center-temp button2" href="contact">Contact</a></li>
                        <li><a class="hvr-overline-from-center hvr-overline-from-center-temp button2" href="login">Login</a></li>
                    </ul>
                    <!-- <div class="search-box">
                                <div id="sb-search" class="sb-search">
                                    <form>
                                        <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                                        <input class="sb-search-submit" type="submit" value="">
                                        <span class="sb-icon-search"> </span>
                                    </form>
                                </div>
                            </div> -->
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- header -->
<!-- banner -->
<div class="banner banner-temp page-head page-head-temp">
</div>
<!-- //banner -->
<!-- about -->
<div class="about about-temp">
    <div class="help-grids help-grids-temp">
        <div class="container">
            <div class="help-grid help-grid-temp">
                <h3 class="tittle tittle-temp tit3 tit3-temp">WHO WE ARE</h3>
                <p> Founded by an MBA graduate and 3 IIT-Bombay Alumni, LogiPort is Technology Based Logistics platform with a sole purpose of ruthlessly reduce inefficiencies in the commercial vehicle transportation space by applying technology and big data analytics </p>
            </div>
            <br>
            <div class="help-grid help-grid-temp">
                <h3 class="tittle tittle-temp tit3 tit3-temp">WHAT WE DO</h3>
                <p>We provide Intelligent Transportation Solutions to our clients that primarily address 4 key areas of a fleet operations
                    <p>
                        <div style="color:#BBE8EA">
                            1.Real Time tracking of fleet with complete geo-visualization, Load status, and Driver status
                        </div>
                        <div style="color:#BBE8EA">
                            2.Providing routing and dispatch management.
                        </div>
                        <div style="color:#BBE8EA">
                            3. We provide unmatched delivery timings with the help of our healthy technology-based transportation Ecosystem and unique driver Engagements
                        </div>
                        <div style="color:#BBE8EA">
                            4.Enable real-time communications, not just with the driver, but with truck and cargo monitoring systems with alerts when prescribed parameters are exceeded.
                        </div>
            </div>
            <br>
            <div class="help-grid help-grid-temp">
                <h3 class="tittle tittle-temp tit3 tit3-temp">WHY US?</h3>
                <p>At LogiPort we are enabling logistics with technology and re-invented it, thus making it efficient and sustainable. We first seek to understand our clients needs and establish a baseline on which to operate and provide a technology platform to fulfill that need with reliability while improving operational efficiency such as driver engagement and on the ground quick response.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="about-bottom-last about-bottom-last-temp">
    <div class="container">
        <div class="help-info">
        </div>
    </div>
    <!-- //about -->
    <!-- footer -->
    <div class="footer footer-temp">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid footer-grid-temp">
                </div>
            </div>
        </div>
        <!-- //footer -->
        <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
                */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!-- //smooth scrolling -->
        </body>

        </html>
