body {
    /*padding-bottom: 20px*/
}

.footer,
.marketing {
    padding-left: 15px;
    padding-right: 15px
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px
}

.footer {
    padding-top: 19px;
    color: #777;
    /*border-top: 1px solid #e5e5e5*/
}

@media (min-width:768px) {
    .container {
        max-width: 730px
    }
}

.container-narrow>hr {
    margin: 30px 0
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px
}

.marketing {
    margin: 40px 0
}

.marketing p+h4 {
    margin-top: 28px
}

@media screen and (min-width:768px) {
    .footer,
    .marketing {
        padding-left: 0;
        padding-right: 0
    }
    .jumbotron {
        border-bottom: 0
    }
}

.nav>li.active>a {
    text-decoration: none;
    background-color: #eee
}

.dashboard{
    /*background-color: #f8f8f8!important;*/
    background-color: #e6e6e6!important;
}
.dashboardHeader{
    color: #337ab7!important;
    padding-top: 20px!important;
    padding-left: 14px!important;
    font-size: 30px!important;
}
